<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002206222994-9fl6p8gjbq32u3tu8j0kr5oi6r4tjb4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002206222994-9fl6p8gjbq32u3tu8j0kr5oi6r4tjb4i</string>
	<key>API_KEY</key>
	<string>AIzaSyD022YcrX3Lficj1rXy4fhOxYsZh8ySaOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1002206222994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloOk</string>
	<key>PROJECT_ID</key>
	<string>firstflutter-9b67d</string>
	<key>STORAGE_BUCKET</key>
	<string>firstflutter-9b67d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002206222994:ios:7bce597838b8329921244b</string>
</dict>
</plist>